body {
    margin: 0;
    background-image: url("https://img.freepik.com/free-vector/music-notes-rainbow-colourful-with-vinyl-record-white-backgro_1308-101521.jpg?w=996&t=st=1708666845~exp=1708667445~hmac=b8d1fdb32ceee46d4de6c02efe2f1f1d3fcf6f4122d231fb6c4f47db75fef731");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

header {
    display: flex;
    height: 100px;
    background-color: rgb(43, 0, 161);
    justify-content: center;
    align-content: center;
}

h1 {
    color: white;
}

.form_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 400px;
    color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(43, 0, 161);
    border-color: orange;
}

legend {
    background-color: rgb(43, 0, 161);
}

input {
    margin-bottom: 2px;
}

#checkbox_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#radio_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button_container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    border-style: dotted;
    border-radius: 25px;
    border-color: orange;
    background-color: rgb(43, 0, 161);
    color: white;
    width: 200px;
    height: 35px;
}

footer {
    display: flex;
    height: 100px;
    background-color: rgb(43, 0, 161);
    margin-top: 25px;
    align-content: center;
    justify-content: center;
    padding-top: 30px;
}

a {
    color: white;
}